@{
  Layout = "_Layout";
}

<div class="container">
  <div class="splashHeader">
    <h1>Vendors' Order Tracking System</h1>
  </div>
  <div class="splashViewVend">
    <h3><a href='/vendors'>View vendors</a></h3>
  </div>
  <div class="splashAddVend">
    <h3><a href='/vendors/new'>Add a new vendor</a></h3>
  </div>
  <img src="~/img/bakerylogo.png">
</div>
