@{
  Layout = "_Layout";
}

<h1>New Vendor</h1>
<p>Create new vendor below:</p>

<form action="/vendors" method="post">
  <label for="vendorVendorName">Name of Vendor:</label>
  <input id="vendorVendorName" name="vendorVendorName" type="text">
  <label for="vendorVendorDescription">Description of vendor:</label>
  <input id="vendorVendorDescription" name="vendorVendorDescription" type="text">

  <button type="submit">Add vendor</button>
</form>

<p><a href="/">Main screen</a></p>
<p><a href="/vendors">View vendors</a></p>